<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" alert-dismissable>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p class="text-left"><i class="fa fa-check"></i>&nbsp; <%= key.upcase_first %>, <%= value %></p>
</div>
<% end %>