<% content_for :title do %>
    505 Internal Server Error
<% end %>

<% content_for :content do %>

<div class="text-center">
    <h1 class="error">500</h1>
    <p>Internal Server Error, Why not try refreshing your page? or you can contact</p>
    <a href="/" class="btn btn-sm btn-success">
        <i class="fa fa-home"></i>&nbsp;Back to home
    </a>
</div>



<% end %>

