<% content_for :title do %>
    404 Page Not Found
<% end %>

<% content_for :content do %>

<div class="text-center">
    <h1 class="error">404</h1>
    <p>This page cannot found or is missing.</p>
    <p>Use the navigation above or the button below to get back and track.</p>
    <a href="/" class="btn btn-sm btn-success">
        <i class="fa fa-home"></i>&nbsp;Back to home
    </a>
</div>




<% end %>

