
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hello World">
        <meta name="author" content="Sandy Andryanto">
         <title>Point Of Sales - Print Invoice Purchase Order By Supplier</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" media="all" href="<%= request.base_url+"/css/bootstrap.min.css" %>" /> 
    </head>
    <body>
        <div class="">
            <div class="container-fluid table-responsive">
                <h1 class='text-center'>
                    PURCHASE ORDER REPORT BY SUPPLIER
                </h1>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Supplier Name</th>
                            <th>Total Items</th>
                            <th>Total Purchase</th>
                        </tr>
                    </thead>
                    <tbody>
                         <% if @data.any?  %>
                            <% @data.each do |row| %>
                                <tr>
                                    <td><%= row["supplier_name"]  %></td>
                                    <td><%= row["total_buy"] %></td>
                                    <td><%= row["total_purchase"]  %></td>
                                </tr>
                           <% end  %>
                        <% else  %>
                        <tr class="text-center">
                            <td colspan="3">
                                -- No Data --
                            </td>
                        </tr>
                        <% end  %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>